.four-col {
  overflow: hidden;
  /* Makes this div contain its floats */
}

.four-col .col1,
.four-col .col2,
.four-col .col3,
.four-col .col4 {
  width: 22%;
  margin: 8px;
}

.four-col .col1 {
  float: left;
}

.four-col .col2 {
  float: left;
}

.four-col .col3 {
  float: left;
}

.four-col .col4 {
  float: left;
  position: relative;
  top: 21px;
}

.four-col label {
  display: inline-block;
}
